<form action="/articles/edit/<%= idx %>" id="put-form">
  <label for="title">New Title</label>
  <input type="text" name="title" value="<%= article.title %>">
  <label for="body">New Body</label>
  <input type="text" name="body" value="<%= article.body %>">
  <input type="button" value="Update">
</form>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<script>
  $('[type=button]').on('click', function(e) {
    e.preventDefault();
    var updateElement = $(this);
    var updateUrl = updateElement.parent().attr('action');
    var updateData = $(this).parent().serialize();
    console.log(updateData);
    $.ajax({
      method: 'PUT',
      url: updateUrl,
      data: updateData
    }).done(function(data) {
    console.log(data);
    });
  });
</script>